@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,800&display=swap');


html, body {
    margin: 0;
}

body {
    /* border: 1px solid red;  */
    width: 1440px;
    margin: 0 auto;
    background-color: hsl(31, 55%, 90%);
    
}

/* Font */
h1{
    font-family: 'Fraunces', serif;
}

/* Styling */
h1{
    margin: 0;
}

.container {
    /* width: 1440px; */
    display:flex;
    margin: 175px 420px;    
    /* background-color: hsl(0, 0%, 100%); */
}

.img-product {
    width: 300px;
    height: 450px;
    /* background-image: url('../images/image-product-desktop.jpg'); */
    background-size: cover;
    
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}


.product-section {
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 25px;
    padding-right: 35px;
    /* padding-right: 75px; */
    /* border: 1px solid red; */

}

.attribution {
    text-align: center;
}


/* 
    9/30/2023
    I was having a problem with the div that I was using for an img. 
    Everyting I was adding more space to margin right. Either the product section would cover the 
    image or the width of the image would shrink. 
    I wanted the image to not be affected. 
    
    What I tried: 
    I changed the div element containing the image to an image element. 
    That seemed to work to prevent the image from losing it size.*/